<table class="table table-striped">
	<thead>
		<tr>
			<th width="26%" sortable-column="description">Description</th>
			<th width="10%" sortable-column="code">Code</th>
			<th width="10%" sortable-column="role">Role</th>
			<th width="10%" sortable-column="active">Active?</th>
			<th width="22%" sortable-column="modified-by">Last Modified By</th>
			<th width="22%" sortable-column="modified-date">Last Modified Date</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let s of this.staffService.staff">
			<td>{{ s.description }}</td>
			<td>{{ s.code }}</td>
			<td>{{ s.role }}</td>
			<td>{{ s.active }}</td>
			<td>{{ s.modifiedBy }}</td>
			<td>{{ s.modifiedDate }}</td>
		</tr>
	</tbody>
</table>